<!DOCTYPE html>
<html>
<head>
    <title>New Wey Group</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/warehouse.png') }}" alt="Warehouse Image">
        <div class="terminal-container">
            <a href="{{ url_for('run_function')}}">&nbsp;Invoices&nbsp;</a>
        </div>
    </div>
</body>
</html>
